/* Light theme Rouge highlight CSS with accessibility improvements */
/* Code block styling */
pre,
code {
  font-size: 0.9375rem;
  border-radius: 3px;
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  /* Accessibility: Add focus styles for keyboard navigation */
  outline: 2px solid transparent;
  outline-offset: 2px;
  /* Light theme background */
  background-color: #f8f8f8;
  /* Light theme text color */
  color: #333333;
}

/* Accessibility: Focus styles for code blocks */
pre:focus,
code:focus {
  outline: 2px solid #0055ff;
  outline-offset: 2px;
}

/* Syntax Highlighting Styles - Light Theme */
.highlight pre { background-color: #ffffff }
.highlight .hll { background-color: #ffffff }
.highlight .c { color: #006600; font-style: italic } /* Comment */
.highlight .err { color: #cc0000; border: 1px solid #cc0000 } /* Error */
.highlight .g { color: #333333 } /* Generic */
.highlight .k { color: #0000ff } /* Keyword */
.highlight .l { color: #333333 } /* Literal */
.highlight .n { color: #333333 } /* Name */
.highlight .o { color: #0000cc } /* Operator */
.highlight .x { color: #333333 } /* Other */
.highlight .p { color: #333333 } /* Punctuation */
.highlight .cm { color: #006600; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #006600; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #006600; font-style: italic } /* Comment.Single */
.highlight .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
.highlight .gd { color: #cc0000 } /* Generic.Deleted */
.highlight .ge { color: #333333; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #cc0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #006600 } /* Generic.Inserted */
.highlight .go { color: #808080 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { color: #333333; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0040D0 } /* Generic.Traceback */
.highlight .kc { color: #0000ff } /* Keyword.Constant */
.highlight .kd { color: #006600 } /* Keyword.Declaration */
.highlight .kn { color: #0000ff } /* Keyword.Namespace */
.highlight .kp { color: #0000ff } /* Keyword.Pseudo */
.highlight .kr { color: #0000ff } /* Keyword.Reserved */
.highlight .kt { color: #006600 } /* Keyword.Type */
.highlight .ld { color: #333333 } /* Literal.Date */
.highlight .m { color: #0000ff } /* Literal.Number */
.highlight .s { color: #cc0000 } /* Literal.String */
.highlight .na { color: #333333 } /* Name.Attribute */
.highlight .nb { color: #0000ff } /* Name.Builtin */
.highlight .nc { color: #006666 } /* Name.Class */
.highlight .no { color: #333333 } /* Name.Constant */
.highlight .nd { color: #333333 } /* Name.Decorator */
.highlight .ni { color: #333333 } /* Name.Entity */
.highlight .ne { color: #666699; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #333333 } /* Name.Function */
.highlight .nl { color: #333333 } /* Name.Label */
.highlight .nn { color: #333333 } /* Name.Namespace */
.highlight .nx { color: #333333 } /* Name.Other */
.highlight .py { color: #333333 } /* Name.Property */
.highlight .nt { color: #333333 } /* Name.Tag */
.highlight .nv { color: #006666 } /* Name.Variable */
.highlight .ow { color: #0000ff } /* Operator.Word */
.highlight .w { color: #333333 } /* Text.Whitespace */
.highlight .mf { color: #0000ff } /* Literal.Number.Float */
.highlight .mh { color: #0000ff } /* Literal.Number.Hex */
.highlight .mi { color: #0000ff } /* Literal.Number.Integer */
.highlight .mo { color: #0000ff } /* Literal.Number.Oct */
.highlight .sb { color: #cc0000 } /* Literal.String.Backtick */
.highlight .sc { color: #cc0000 } /* Literal.String.Char */
.highlight .sd { color: #cc0000 } /* Literal.String.Doc */
.highlight .s2 { color: #cc0000 } /* Literal.String.Double */
.highlight .se { color: #cc0000 } /* Literal.String.Escape */
.highlight .sh { color: #cc0000 } /* Literal.String.Heredoc */
.highlight .si { color: #cc0000 } /* Literal.String.Interpol */
.highlight .sx { color: #cc0000 } /* Literal.String.Other */
.highlight .sr { color: #cc0000 } /* Literal.String.Regex */
.highlight .s1 { color: #cc0000 } /* Literal.String.Single */
.highlight .ss { color: #cc0000 } /* Literal.String.Symbol */
.highlight .bp { color: #0000ff } /* Name.Builtin.Pseudo */
.highlight .vc { color: #006666 } /* Name.Variable.Class */
.highlight .vg { color: #006666 } /* Name.Variable.Global */
.highlight .vi { color: #006666 } /* Name.Variable.Instance */
.highlight .il { color: #0000ff } /* Literal.Number.Integer.Long */