---
layout: default
---

<div class="home wrapper">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- assign categories = "" -%}
  {%- assign tags = "" -%}
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
    {%- for post in site.posts -%}
      {%- if post.categories.size > 0 -%}
         {%- assign categories = categories | concat: post.categories -%}
      {%- endif -%}
      {%- if post.tags.size > 0 -%}
         {%- assign tags = tags | concat: post.tags -%}
      {%- endif -%}
      
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  {%- if categories.size > 0 -%}
  <p class="post-categories">
    Categories: &nbsp;
    {%- assign categories = categories | compact | sort -%}
    {%- for category in categories -%}
      {%- if category != "" -%}
      <a href="/category?category={{ category | slugify }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
      {%- endif -%}
    {%- endfor -%}
  </p>
  {%- endif -%}

  {%- if tags.size > 0 -%}
  <p class="post-tags">
    Tags: &nbsp;
    {%- assign tags = tags | compact | sort -%}
    {%- for tag in tags -%}
      {%- if tag != "" -%}
      <a href="/tag?tag={{ tag | slugify }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
      {%- endif -%}
    {%- endfor -%}
  </p>
  {%- endif -%}

  <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
